<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions: Add any permissions required by your app -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Permissions for Wear OS connection -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".MedicationReminderApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicationReminder"
        tools:targetApi="36"
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config"
        android:pageSizeCompat="enabled"
        >
        <meta-data
            android:name="com.google.android.wearable.capabilities"
            android:resource="@array/android_wear_capabilities" />

        <!-- Main Activity Declaration -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.App.Starting"> <!-- Changed this line -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="medicationreminder" android:host="medication" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.features.notifications.activity.FullScreenNotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.MedicationReminder"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <receiver
            android:name=".receivers.ReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="false"> <intent-filter>
            <action android:name="com.d4viddf.medicationreminder.ACTION_SHOW_REMINDER" />
            <action android:name="com.d4viddf.medicationreminder.ACTION_MARK_AS_TAKEN" />
            <action android:name="com.d4viddf.medicationreminder.ACTION_SNOOZE_REMINDER"/>
        </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.SnoozeBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.d4viddf.medicationreminder.ACTION_SNOOZE_REMINDER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.PreReminderForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync"> </service>

        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"> <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.AppUpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="remove" />

        <!-- Add Firebase services if used -->
        <!--
        <service android:name=".services.FirebaseService" />
        -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".services.DataLayerListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>
</manifest>